# Copy this file and name it ftpmastersettings.py, then adjust to your needs.

# BASE_DIR is the base directory of the server.
# This directory must exist.  If it is empty, the server will automatically
# populate it with the "special" folders.
BASE_DIR = r'C:\server'

# LOG_DIR is the directory where the access and error logs will be saved.
# The directory must exist, but can be empty.
LOG_DIR = r'C:\log'

# LDAP_SERVER tells the server what server to use for authentication.
# Leave the ldap:// on the front, or change it to ldaps:// (untested)
LDAP_SERVER = 'ldap://192.168.0.201'

# This function is the LDAP string to use to authenticate the user.
# Adjust it as necessary for your setup.
def make_ldap_string(username):
    return "CN=" + username + ",OU=Users,DC=example,DC=com"

# Only usernames in the UPLOADERS iterable will be granted upload privileges.
UPLOADERS = ('privuser1', 'privuser2')

# IP on which to listen.  127.0.0.1 is local machine only, but to serve
# to the public, use 0.0.0.0
LISTEN_IP = '127.0.0.1'

# Port on which to listen.  The default FTP port is 21.
LISTEN_PORT = 21
